/*Colors*/

:root {
  --color-primary: #72bbcd;
  --color-accent: #eedc00;
  --color-body: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

/*Typography*/

body {
  font-family: 'Roboto', Lato, Tahoma, sans-serif;
  color: var(--color-body);
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--color-body);
  font-family: 'Asap', Lato, Tahoma, sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.5rem;
}
